{% extends "_layout" %}

{% block content %}
	{% if entry.type == 'practiceSolution' %}
		<section class="practice-intro container">
			<div class="left">
				<div class="title">
					{% set icon = entry.practiceIcon.first() %}
					<img src="{{ icon.url() }}" alt="" />

					<div class="name">
						<h1 class="head water">
							{% if entry.level == 1 %}
								{{ entry.title }}
							{% elseif entry.level == 2 %}
								{% set parent = craft.entries.ancestorOf(entry).level(1).first() %}
								{{ parent.title }}
							{% endif %}
						</h1>
					</div>
				</div>

				{% include '/components/subnav.html' %}
			</div>
			<div class="right">
				<h2 class="head">{{ entry.practiceHeadline }}</h2>

				{% if entry.practiceLeaders|length %}
					<div class="leadership-carousel">
						<div class="leadership-title">
							<h3 class="caps gray">Leadership</h3>
						</div>

						<ul class="owl-carousel default-carousel">
							{% for entry in entry.practiceLeaders %}
								<li>
									{% set portrait = entry.portrait.first() %}
									<img src="{{ portrait.url() }}" alt="{{ portrait.title() }}" />

									<div class="copy">
										<p class="subhead water">{{ entry.title }}</p>
										<p class="caps gray">{{ entry.position }}</p>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}

				<div class="reveal practice-introduction">
					{{ entry.practiceIntroduction }}
				</div>

			</div>
		</section>
	{% endif %}


	{% include '/components/core-modules.html' %}
{% endblock %}
