/* ==========================================================================
   BASE/_BUTTONS.SCSS
   ========================================================================== */

// Reset button font size to match default
button {
    font-size: 1em;
}

.btn {
	@extend .caps;
	border: 2px solid $neon-green;
	padding: $space $space-double;

	&:hover,
	&:focus {
		
	}
}
