/* ==========================================================================
   BASE/_BUTTONS.SCSS
   ========================================================================== */

// Reset button font size to match default
button {
    font-family: "proxima-nova", sans-serif;
    font-size: 1em;

	&:hover,
	&:focus {
		outline: 0;
	}

	&::-moz-focus-inner { border: 0; }
}

.btn {
	@extend .caps;
	background-color: transparent;
	border: 2px solid $neon-green;
	color: $water;
	display: inline-block;
	padding: $space-quarter $space-and-half;
	transition: background-color 250ms linear, color 250ms linear;
	margin-bottom: 1px; /* safari was cutting of the bottom of some of these */

	span { margin-left: $space-half; }

	&:hover,
	&:focus {
		background-color: $neon-green;
		color: $white;
		cursor: pointer;
		outline: 0;
	}

	&.alt {
		color: $white;

		&:hover,
		&:focus {
			color: $water;
			cursor: pointer;
		}
	}
}
