/* ==========================================================================
   BASE/_LAYOUT.SCSS
   ========================================================================== */

html, body {
	height: 100%;
	position: relative;
}

#container {
	min-height: calc(100vh - 260px);
}

// Containers
.container {
	@include container();
	@include clearfix();
}

#content { margin-top: 80px; }

@media screen and (min-width: $bp-med) {
	.container {
		margin: 0 auto;
		max-width: $max-width;
	}
}

@media screen and (min-width: $bp-large) {
	.container {
		padding: 0 5%;
		margin: 0 auto;
		max-width: $max-width;
		width: 100%;
	}

}

@media screen and (min-width: $bp-large-2) {
	#container {
		min-height: calc(100vh - 100px);
	}

	#content { margin-top: 80px; }
}

@media screen and (min-width: 1240px) {
	.container {
		padding: 0;
	}

}
