/* ==========================================================================
   BASE/_LISTS.SCSS
   ========================================================================== */


// Basic Lists
ul { list-style: none; }

section {
	ol, ul {
		font-size: 1.4em;
		margin: 0 0 $space $space;

		&.owl-carousel { font-size: 1em; }

		ol, ul {
			font-size: 1em;
			margin-bottom: 0;
		}
	}

	ul { list-style: disc; }
}

// Definition Lists
dl {
    overflow: hidden;
    margin: 0 0 $space;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}
