/* ==========================================================================
   BASE/_TYPOGRAPHY.SCSS
   ========================================================================== */

/*
	TYPEKIT WEIGHTS
	Light - 300
	Regular - 400
	Medium - 500
	Bold - 700
*/

body {
    font-family: "proxima-nova", sans-serif;
    font-size: 62.5%;
	color: $off-black;
}

// Copy Types
p {
	font-size: 1.4em;
	line-height: 1.5em;
    margin-bottom: $space;
}

.med { font-weight: 500; }

.head {
	font-size: 3.2em;
	font-weight: 300;
	line-height: 1em;
}

.subhead {
	font-size: 2.1em;
	font-weight: 400;
	line-height: 1em;
}

.large-bc {
	font-size: 1.8em;
	font-weight: 300;
	line-height: 1.333333em;
}

.large-bc-med {
	font-size: 1.8em;
	font-weight: 500;
	line-height: 1.333333em;
}

.caps {
	font-size: 1.3em;
	font-weight: 700;
	line-height: 2.77em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

// Colors
.water { color: $water; }


@media screen and (min-width: $bp-large) {
	.head { font-size: 4.8em; }
	.subhead { font-size: 2.8em; }
}




// Blockquote
blockquote {
    font-style:italic;
    border-left: 1px solid $gray;
    color: $gray;
    padding-left: $space;
    margin-bottom: $space;
}


// Others
abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}
