/* ==========================================================================
   BASE/_UTILITY.SCSS
   ========================================================================== */


// Display
.block {
    display: block;
}
.hide {
    display: none;
}
.offscreen {
    display: block;
    left: -999999px;
    position: absolute;
    top: -999999px;
}
.no-mobile { display: none; }

// Clearfix
.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


// LINES, HRS, BORDERS
.hr {
    border-top: 1px solid $gray;
    display: block;

    hr {
        display: none;
    }
}

.fourohfour {
	background-color: $black;
	color: $white;
	padding-top: calc(100vh - 60vh);
	height: 100vh;

	.head {
		margin-bottom: $space;
		max-width: 400px;
	}
}

.search-results {
	padding: $mobile-buffer 0;

	.left { margin-bottom: $mobile-buffer; }

	article {
		border-bottom: 1px solid $gray;
		margin-bottom: $space*2.5;
		padding-bottom: $space-and-half;

		&:last-of-type {
			border: 0;
			margin-bottom: 0;
		}
	}

	.pagination {
		@include clearfix();
		border-top: 1px solid $water;
		padding-top: $space-double;

		.next {
			float: right;
			text-align: right;
		}
	}
}

::selection {
	background: $neon-green; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: $neon-green; /* Gecko Browsers */
}

@media screen and (min-width: $bp-large) {
	.search-results {
		padding: $desktop-buffer 0;

		article {
			padding-bottom: $space*2.5;
			margin-bottom: $space*4;
		}

		.left { @include column(5); }
		.right {
			@include column(7);
			@include push(5);
		}
	}
}

@media screen and (min-width: $bp-large-2) {
	.no-mobile { display: inline-block; }
}
