/* ==========================================================================
   COMPONENTS/_CTA.SCSS
   ========================================================================== */

.cta {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: $white;
	display: block;
	margin-top: -1px;
	padding: $mobile-buffer 0;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 2;

	.head {
		margin: $space-and-half 0 $space;
	}

	&.locations {
		background-color: $off-black;
		padding: 0;

		.bg {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 100%;
			position: absolute;
			opacity: 0;
			transition: opacity 250ms linear;
			width: 100%;

			&.active { opacity: 1; }
		}

		.reveal { padding: $mobile-buffer 0; }

		ul {
			margin-top: $mobile-buffer;
			list-style-type: none;
			margin-left: 0;
			margin-right: 0;

			a {
				color: $white;

				&:hover,
				&:focus {
					color: $neon-green;
				}
			}
		}
	}
}

.double-cta {
	background-color: $off-black;
	padding: $mobile-buffer 0;
	width: 100%;

	.head { margin-bottom: $space-half; }
	.left { margin-bottom: $mobile-buffer; }
}

@media screen and (min-width: $bp-med) {
	.cta {
		padding: $space*8 0 $space*12;

		.head { margin: $space-double 0 $space-and-half; }

		&.locations {
			.reveal { padding: $desktop-buffer 0; }
		}
	}

	.double-cta {
		@include clearfix();
		padding: $desktop-buffer 0;

		.left, .right { @include column(6); }
		.left { margin-bottom: 0; }
		.right { @include push(6); }
	}
}
