/* ==========================================================================
   COMPONENTS/_DESKTOP-NAV.SCSS
   ========================================================================== */

@media screen and (min-width: $bp-large-2) {
	header {
		#logo {
			float: left;
			margin: $space-and-half 0;
			width: 10%;
		}

		&.black {
			background-color: $black;

			#logo {
				.big-p, .letter { fill: $white; }
			}

			.menu a { color: $white; }
		}

		&.transparent {
			.menu a { color: $white; }
		}

		.top-bar {
			@include clearfix();
			margin: 0 auto;
			max-width: $max-width;
		}

		.menu {
			background-color: transparent;
			display: block;
			float: left;
			height: 80px;
			left: auto;
			opacity: 1;
			position: relative;
			top: 2.5em;
			visibility: visible;
			width: 90%;

			a:hover,
			a:focus {
				color: $neon-green;
			}

			ul {
				margin-left: $space*6;

				li {
					float: left;
					font-size: 1.3em;
					font-weight: 700;
					line-height: 2.77em;
					letter-spacing: 1px;
					margin-right: $space-and-half;
					text-transform: uppercase;

					&.search-li { margin-right: 0; }

					&.search-li,
					&.newsletter-li {
						float: right;

						a {
							opacity: 1;
							transition: opacity 250ms linear, color 250ms linear;

							&.hidden { opacity: 0; }
						}
					}
				}
			}
		}
	}

	#search-form,
	#mc_embed_signup {
		background-color: $black;
		display: block;
		height: calc(100% - 100px);
		left: 0;
		margin: 0;
		opacity: 0;
		position: fixed;
		top: 100px;
		transition: opacity 250ms linear;
		visibility: hidden;
		width: 100%;

		&.active { opacity: 1; }

		li {
			float: none;
		}

		li,
		.clear,
		.mc-field-group {
			margin: 0 auto;
			max-width: $max-width;
		}

		.btn {
			bottom: $space-double;
		}
	}
}
