/* ==========================================================================
   COMPONENTS/_FOOTER.SCSS
   ========================================================================== */

footer {
	background-color: $black;
	color: $white;
	height: 260px;
	text-align: center;

	.block-link {
		border-bottom: 1px solid $off-black;
		display: block;
		margin-bottom: 0;
		padding: $space-and-half;

		img {
			margin: 0 $space-half -13px 0;
			width: 20px;
		}
	}

	a,
	.arrow-link {
		color: $white;

		&:hover,
		&:focus {
			color: $neon-green;
		}
	}

	#social {
		@include clearfix();
		border-bottom: 1px solid $off-black;
		font-size: 3em;
		line-height: 0.5em;
		padding: $space-half 0;

		ul {
			display: inline-block;

			li {
				float: left;
				margin-right: $space-half;

				&:last-child { margin-right: 0; }
			}
		}
	}
}

@media screen and (min-width: $bp-large-2) {
	footer {
		height: 100px;
		text-align: left;

		> div {
			margin: 0 2%;
			max-width: $max-width;
			padding: $space*3.5 0;
		}

		.block-link {
			border-bottom: 0;
			padding: 0;
		}

		.copy {
			@include column(6);
			@include push(0);
		}

		.email {
			@include column(3);
			@include push(6);
			padding-top: 7px;
		}

		.newsletter {
			@include column(2);
			@include push(9);
			padding-top: 7px;
		}

		#social {
			@include column(2);
			@include push(10);
			border-bottom: 0;
			font-size: 2.4em;
			padding: 5px 0 0 0;
			text-align: right;
		}

	}
}

@media screen and (min-width: $bp-xl) {
	footer > div { margin: 0 auto; }
}
