/* ==========================================================================
   COMPONENTS/_IMAGE-COLLAGE.SCSS
   ========================================================================== */

.image-collage {
	@include clearfix();

	img {
		float: left;
		width: 50%;
	}
}


@media screen and (min-width: $bp-large) {
	.image-collage {
		@include clearfix();

		img {
			float: left;
			width: 25%;
		}
	}
}
