/* ==========================================================================
   COMPONENTS/_INSIGHTS.SCSS
   ========================================================================== */

.single-insight-callout {
	background-color: $off-white;
	padding: $mobile-buffer 0;

	h2 {
		text-align: center;
		margin-bottom: $space-double;
	}

	img {}

	h3 { margin-bottom: $space; }
}

.insights {
	.insight-title-block {
		@include container();
		text-align: center;
		padding: $mobile-buffer 0;
		margin: 0 auto;
		max-width: 750px;

		.head { margin: $space-half 0; }

		.author a { color: $water; }
	}

	.insight-hero {
		margin: 0 auto;
		max-width: $max-width;
	}
}

@media screen and (min-width: $bp-large) {
	.single-insight-callout {
		padding: $desktop-buffer 0;
	}

	.insights {
		.insight-title-block {
			padding: $desktop-buffer 0;
		}
	}
}
