/* ==========================================================================
   COMPONENTS/_INSIGHTS.SCSS
   ========================================================================== */

.single-insight-callout {
	background-color: $off-white;
	padding: $mobile-buffer 0;

	h2 {
		text-align: center;
		margin-bottom: $space-double;
	}

	img { margin-bottom: $mobile-buffer; }

	h3 { margin-bottom: $space-and-half; }
}

.people,
.insights,
.three-insights-callout {
	#insights-filter {
		background-color: $black;
		height: 100%;
		left: 0;
		overflow: scroll;
		padding: $space-double 0;
		opacity: 0;
		position: absolute;
		top: 0;
		visibility: hidden;
		width: 100%;
		z-index: 2;
		transition: opacity 250ms linear;

		&.active {
			visibility: visible;
			opacity: 1;
		}

		#close-filter {
			color: $neon-green;
			display: block;
			margin-bottom: $space;
		}

		h2 {
			color: $neon-green;
			margin-bottom: $space-half;
		}

		a {
			color: $white;
			font-size: 2.4em;
		}

		ul {
			margin-bottom: $space-double;

			li { margin-bottom: $space-half; }
		}
	}

	.insights-title {
		padding-top: $mobile-buffer;
		padding-bottom: $mobile-buffer;

		.head { margin-bottom: $space; }
	}

	.grid {
		// @include container();
		margin-bottom: $mobile-buffer;
		padding-top: $mobile-buffer;
		list-style-type: none;
		font-size: 1em;

		.grid-item {
			padding: 0 0 $space;
			// padding: $space-double 0 $space;
			width: 100%;

			img { margin-bottom: $space-double; }
			.subhead { margin-bottom: $space-half; }
		}
	}

	.insight-hero {
		margin: 0 auto;
		max-width: $max-width;

		img { width: 100%; }
	}
}

.three-insights-callout {
	padding: $mobile-buffer 0;

	h2 {
		text-align: center;
		margin-bottom: $space-double;
	}

	.grid { padding-top: 0; }

	.view-all {
		text-align: center;
	}
}


@media screen and (min-width: $bp-med) {
	.people,
	.insights,
	.three-insights-callout {
		#insights-filter {
			@include clearfix();

			.left,
			.right {
				@include column(6);
			}

			.right { @include push(6); }
		}

		.grid {
			padding: 0;
			margin: 0 2.5%;
			width: 95%;

			.grid-sizer,
			.grid-item {
				margin: 0 2.5%;
				width: 45%;
			}

			.grid-item:nth-child(2), .grid-item:nth-child(3) { padding-top: 0; }
		}
	}
}

@media screen and (min-width: $bp-large) {
	.single-insight-callout {
		@include clearfix();
		padding: $desktop-buffer 0;

		h2 { margin-bottom: $mobile-buffer; }

		img { @include column(6); }

		.copy {
			@include column(6);
			@include push(6);
		}
	}

	.insightsArticles .body-copy .reveal { @include push(3); }

	.people,
	.insights {
		#insights-filter {
			padding: $mobile-buffer 0;
		}

		.insights-title {
			@include clearfix();
			padding-top: $desktop-buffer;

			.head,
			.filter-select {
				@include column(6);
			}

			.filter-select {
				@include push(6);
				text-align: right;
			}
		}
	}

	.three-insights-callout {
		padding: $desktop-buffer 0;

		h2 { margin-bottom: $mobile-buffer; }

		.grid { margin-bottom: $space-double; }
	}
}

@media screen and (min-width: $bp-large-2) {
	.insights,
	.three-insights-callout {
		.grid {
			padding-top: 0;
			margin: 0 2.5% $desktop-buffer;

			.grid-sizer,
			.grid-item {
				margin: 0 2.5%;
				width: 28.333333%;
			}

			.grid-item:nth-child(4) { padding-top: 0; }
		}
	}

	.three-insights-callout {
		.grid { margin-bottom: $space-double; }
	}
}

@media screen and (min-width: 1240px) {
	.insights,
	.three-insights-callout {
		.grid {
			margin: 0 auto $desktop-buffer;
			max-width: calc(1182px + 2.5%);
		}
	}

	.three-insights-callout {
		.grid { margin-bottom: $space-double; }
	}
}
