.logo-soup {
	padding: $mobile-buffer 0;
	background-color: $off-white;
	text-align: center;

	h2.head { margin-bottom: $space-and-half; }

	.logo {
		@include column(6);
		margin-bottom: 5%;

		&:nth-of-type(2n) { @include push(6); }
		&:nth-of-type(2n + 1) { clear: left; }
	}

	img {
		opacity: 1;
		transition: opacity 250ms linear;
	}

	a img:hover,
	a img:focus {
		opacity: 0.3}
}


@media screen and (min-width: $bp-med) {
	.logo-soup {
		.logo {
			@include column(3);

			&:nth-of-type(4n+2) { @include push(3); }
			&:nth-of-type(2n + 1) { clear: none; }
			&:nth-of-type(4n + 3) { @include push(6); }
			&:nth-of-type(4n + 4) { @include push(9); }
			&:nth-of-type(4n + 1) { clear: both; }
		}
	}
}

@media screen and (min-width: $bp-large) {
	.logo-soup { padding: $desktop-buffer 0; }
}
