/* ==========================================================================
   COMPONENTS/_MOBILE-NAV.SCSS
   ========================================================================== */

header {
	background-color: $white;
	border-top: 5px solid $neon-green;
    width: 100%;
    z-index: 11;

	position: fixed;
	right: 0px;
	top: 0px;
	left: 0px;
	transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), background-color 250ms linear, opacity 150ms linear;

	&.hidden {
		transform: translateY(-100%);
	}

	&.transparent {
		background-color: transparent;

		#logo .big-p, #logo .letter { fill: $white; }

		.hamburger-inner,
		.hamburger-inner:before,
		.hamburger-inner:after { background-color: $white; }

		&.active {
			background-color: $black;
		}
	}

	#logo {
		display: inline-block;
		margin: $space-and-half 0;
		width: 80px;

		.big-b {
			fill: $neon-green;
			transition: fill 250ms linear;
		}

		.big-p, .letter {
			fill: $off-black;
			transition: fill 250ms linear;
		}
	}

	.hamburger {
		float: right;
		margin-top: 1.25em;
		padding-right: 0;
	}

	&.active,
	&.black {
		background-color: $black;

		#logo {
			.big-p, .letter { fill: $white; }
		}
	}
}

.insights-trigger { display: none; }

.menu {
	background-color: $black;
	height: calc(100% - 80px);
	left: 0;
	opacity: 0;
	position: fixed;
	top: 80px;
	transition: opacity 250ms linear;
	visibility: hidden;
	width: 100%;
	z-index: 1;

	&.active {
		visibility: visible;
		opacity: 1;
	}
}

#search-form,
#mc_embed_signup {
	height: calc(100vh - 100px);

	input[type='search'],
	input[type='email'],
	input[type='text'] {
		appearance: none;
		border: none;
		background-color: transparent;
		color: $white;
		font-size: 3.2em;
		padding: $space 0 0;

		&::placeholder {
			color: $off-black;
		}

		&:focus { outline: 0; }
	}

	.btn {
		bottom: $space;
		position: absolute;
	}

}

@media screen and (max-width: $bp-large-2) {
	#primary {
		padding-left: 5%;

		li {
			margin-top: $space-and-half;

			a {
				color: $neon-green;
				font-size: 3.2em;
			}

			ul li { margin-top: 0; }

		}
	}

	.slinky-menu {
		overflow: hidden;
		transform: translateZ(0);
		transition: all 300ms ease;
		-webkit-transform: translateZ(0);
		-webkit-transition: all 300ms ease;

		> ul {
			left: 0;
			position: relative;
			transform: translateZ(0);
			transition: all 300ms ease;
			-webkit-transform: translateZ(0);
			-webkit-transition: all 300ms ease;
		}

		a {

			&.back {
				padding: $space 0 0 0;

				&:before {
					@include icon();
					font-size: 0.7em;
					content: "\e900";
					margin-right: $space-half;
				}
			}

			.icon-magnifying-glass { font-size: 0.85em; }
		}

		li ul {
			display: none;
			left: 100%;
			margin-top: 0;
			position: absolute;
			top: 0;
		}

		.header {
			position: relative;
		}

		h2 ~ a.back {
			text-transform: uppercase;
		}

		h2 {
			color: $neon-green;
			font-size: 2em;
			padding: 0.4em $space;
		}
	}
}
