/* ==========================================================================
   COMPONENTS/_PRACTICES.SCSS
   ========================================================================== */

.practice-intro {
	padding-top: $mobile-buffer;
	padding-bottom: $mobile-buffer;

	.title {
		@include clearfix();
		position: relative;
		margin-bottom: $mobile-buffer;

		img {
			@include column(4);
		}

		.name {
			@include column(8);
			@include push(4);
		}
	}

	.leadership-carousel {

		h3:before {
			background-color: $gray;
			content: '';
			display: inline-block;
			height: 1px;
			margin: 0 $space 3px 0;
			width: 80px;
		}
	}

	.practice-introduction {
		margin: $mobile-buffer 0;
		max-width: 560px;
	}
}

@media screen and (min-width: $bp-small-3) {
	.practice-intro {
		.title {
			img { @include column(2); }

			.name {
				@include column(10);
				@include push(2);
			}
		}
	}
}

@media screen and (min-width: $bp-large-2) {
	.practice-intro {
		@include clearfix();
		padding-top: $desktop-buffer;
		padding-bottom: $desktop-buffer;

		.title {
			img { @include column(3); }

			.name {
				@include column(7);
				@include push(3);

				.subhead {
					position: relative;
					top: 0;
					transform: none;
					line-height: 1.1em;
				}
			}
		}

		.left {
			@include column(4);
		}

		.right {
			@include column(8);
			@include push(4);
		}
	}

	.leadership-carousel {
		@include clearfix();
		// padding-top: $desktop-buffer;
		position: relative;

		.leadership-title {
			@include column(4);
			height: 100%;

			h3 {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.owl-carousel {
			@include column(8);
			@include push(4);
		}
	}
}
