/* ==========================================================================
   COMPONENTS/_TEXT-MODULES.SCSS
   ========================================================================== */

.intro {
	padding: $mobile-buffer 0;

	.left {margin-bottom: $space-double; }
}

.body-copy {
	@include container();
	padding: $mobile-buffer 0;
}

blockquote {
	&.cta cite {
		display: block;
		margin-top: $space-double;
		font-style: normal;
	}

	&.basic {
		border-bottom: 1px solid $water;
		border-top: 1px solid $water;
		padding: $mobile-buffer 0;
		text-align: center;

		p { margin-bottom: 0; }
	}
}

.arrow-list {
	background-color: $off-black;
	color: $white;
	padding: $mobile-buffer 0;

	h2.caps {
		margin-bottom: $space-double;
		text-align: center;
	}

	.icon-circle-arrow { font-size: 3.7em; }

	.block {
		@include clearfix();
		margin: $mobile-buffer 0;

		&:last-child { margin-bottom: 0; }

		.img, .icon-circle-arrow { @include column(2); }

		.copy {
			h3.subhead { margin-bottom: $space; }
			.btn { margin: $space-double 0; }
		}
	}
}

.two-thirds-with-gutter {
	background-color: $off-white;
	padding: $mobile-buffer 0;
}

.two-column-icon-with-text {
	background-color: $off-black;
	color: $white;
	padding: $mobile-buffer 0;

	.block {
		margin-bottom: $desktop-buffer;

		&:last-of-type { margin-bottom: 0; }
	}

	.img { margin-bottom: $space-double; }
	.btn { margin-top: $space-double; }
}

@media screen and (max-width: $bp-large) {
	.arrow-list .block .copy {
		@include column(10);
		@include push(2);
	}
}

@media screen and (min-width: $bp-large) {
	.intro {
		padding: $desktop-buffer 0;

		.left {
			@include column(6);
			margin-bottom: 0;
		}

		.right {
			@include column(6);
			@include push(6);
		}
	}

	.body-copy {
		@include clearfix();
		padding: $desktop-buffer 0;

		.reveal {
			@include column(6);
			@include push(4);
		}
	}
	/*
	.insights-detail .body-copy { @include push(3); }
	// plus add dropcap first word first paragraph
	*/

	blockquote {
		&.basic {
			@include clearfix();

			p {
				@include column(10);
				@include push(1);
			}
		}
	}

	.arrow-list {
		padding: $desktop-buffer 0;

		&.two-column {
			.icon-circle-arrow { font-size: 7em; }

			.block {
				@include column(6);

				&:nth-last-child(2) { margin-bottom: 0; }

				.copy {
					@include column(10);
					@include push(2);
				}

				&:nth-of-type(2n) {
					@include push(6);
				}
				&:nth-of-type(2n + 1) {
					clear: left;
				}
			}
		}

		&.large {
			.icon-circle-arrow {
				@include column(1);
				font-size: 5.5em;
			}

			h3.subhead {
				@include column(3);
				@include push(1);
			}

			.support-copy {
				@include column(8);
				@include push(4);
			}
		}
	}

	.two-thirds-with-gutter {
		padding: $desktop-buffer 0;

		.two-thirds {
			@include column(7);
		}

		.gutter {
			@include column(4);
			@include push(8);
		}
	}

	.two-column-icon-with-text {
		padding: $desktop-buffer 0;

		.block {
			@include column(6);

			&:nth-last-child(2) { margin-bottom: 0; }

			.img { @include column(3); }
			.copy {
				@include column(9);
				@include push(3);
			}

			&:nth-of-type(2n) {
				@include push(6);
			}
			&:nth-of-type(2n + 1) {
				clear: left;
			}
		}

		.img { margin-bottom: $space-double; }
	}
}
