/* ==========================================================================
   COMPONENTS/_TEXT-MODULES.SCSS
   ========================================================================== */

.intro {
	padding: $mobile-buffer 0;

	.left {margin-bottom: $space-double; }
}

.title-block {
	@include container();
	text-align: center;
	padding: $mobile-buffer 0 0;
	margin: 0 auto;
	max-width: 750px;

	&.border-bottom { border-bottom: 1px solid $water; }

	.head { margin: $space-half 0; }

	.author a { color: $water; }
}

.body-copy {
	@include container();
	padding: $mobile-buffer 0;

	a {
		color: $water;
		transition: color 250ms linear;

		&:hover,
		&:focus {
			color: $gray;
		}
	}
}

blockquote {
	&.cta cite {
		display: block;
		margin-top: $space-double;
		font-style: normal;
	}

	&.basic {
		border-bottom: 1px solid $water;
		border-top: 1px solid $water;
		padding: $mobile-buffer 0;
		text-align: center;

		p { margin-bottom: 0; }
	}
}

.arrow-list {
	background-color: $off-black;
	color: $white;
	padding: $mobile-buffer 0;

	h2.caps {
		margin-bottom: $space-double;
		text-align: center;
	}

	.icon-circle-arrow { font-size: 3.7em; }

	.block {
		@include clearfix();
		margin: $mobile-buffer 0;

		&:last-child { margin-bottom: 0; }

		.img, .icon-circle-arrow { @include column(2); }

		.copy {
			@include column(10);
			@include push(2);

			h3.subhead { margin-bottom: $space; }
			.btn { margin: $space-double 0; }
		}
	}
}

.two-thirds-with-gutter {
	background-color: $off-white;
	padding: $mobile-buffer 0;
}

.two-column-icon-with-text {
	background-color: $off-black;
	color: $white;
	padding: $mobile-buffer 0;

	.block {
		margin-bottom: $desktop-buffer;

		&:last-of-type { margin-bottom: 0; }

		.img {
			margin-bottom: $space-double;
			max-width: 136px;
		}
	}

	.btn { margin-top: $space-double; }
}

.stats {
	background-color: $off-black;
	color: $white;
	padding-top: $mobile-buffer;
	padding-bottom: $mobile-buffer;

	.stat {
		@include clearfix();
		margin-bottom: $mobile-buffer;

		img { @include column(3); }

		.copy {
			@include column(9);
			@include push(3);

			color: $water;
			line-height: $space-double;
			padding-top: $space-half;

			.number {
				display: block;
				font-size: 2.3em;
			}
		}
	}
}

@media screen and (min-width: $bp-small-3) {
	.two-column-icon-with-text {
		padding: $desktop-buffer 0;

		.block {
			@include column(6);

			&:nth-last-child(2) { margin-bottom: 0; }

			&:nth-of-type(2n) {
				@include push(6);
			}
			&:nth-of-type(2n + 1) {
				clear: left;
			}
		}
	}
}


@media screen and (min-width: $bp-large) {
	.intro {
		padding: $desktop-buffer 5%;

		.left {
			@include column(6);
			margin-bottom: 0;
		}

		.right {
			@include column(6);
			@include push(6);
		}
	}

	.title-block {
		padding: $desktop-buffer 0 0;
	}

	.body-copy {
		@include clearfix();
		padding: $desktop-buffer 0;
		margin: 0 auto;
		max-width: $max-width;
		width: 100%;

		.reveal {
			@include column(6);
			@include push(4);
		}
	}
	/*
	.insights-detail .body-copy { @include push(3); }
	// plus add dropcap first word first paragraph
	*/

	blockquote {
		&.basic {
			@include clearfix();
			margin: 0 5%;
			width: 90%;

			p {
				@include column(10);
				@include push(1);
			}
		}
	}

	.arrow-list {
		padding: $desktop-buffer 0;

		&.large {
			.icon-circle-arrow {
				@include column(1);
				font-size: 5.5em;
			}

			.copy { @include push(1); }

			h3.subhead {
				@include column(4);
			}

			.support-copy {
				@include column(8);
				@include push(4);
			}
		}

		&.two-column {

			.block {
				@include column(6);

				.icon-circle-arrow {
					@include column(3);
					font-size: 7em;
				}

				&:nth-last-child(2) { margin-bottom: 0; }

				.copy {
					@include column(9);
					@include push(3);
				}

				&:nth-of-type(2n) {
					@include push(6);
				}
				&:nth-of-type(2n + 1) {
					clear: left;
				}
			}
		}
	}

	.two-thirds-with-gutter {
		padding: $desktop-buffer 0;

		.two-thirds {
			@include column(7);
		}

		.gutter {
			@include column(4);
			@include push(8);
		}
	}

	.two-column-icon-with-text {
		padding: $desktop-buffer 0;

		.block {
			@include column(6);

			&:nth-last-child(2) { margin-bottom: 0; }

			.img { @include column(3); }
			.copy {
				@include column(9);
				@include push(3);
			}

			&:nth-of-type(2n) {
				@include push(6);
			}
			&:nth-of-type(2n + 1) {
				clear: left;
			}
		}

		.img { margin-bottom: $space-double; }
	}
}

@media screen and (min-width: $bp-large) {
	.stats {
		padding-top: $desktop-buffer;
		padding-bottom: $desktop-buffer;

		.left,
		.right {
			@include column(6);
		}

		.right {
			@include push(6);
		}

		.stat {
			@include clearfix();
			margin-bottom: $mobile-buffer;

			&:last-child { margin-bottom: 0; }

			img { @include column(2); }

			.copy {
				@include column(10);
				@include push(2);
				line-height: 1em;
				padding-top: 0;

				.number {
					@include column(4);
					padding-top: $space-quarter;
				}

				.stat-desc {
					@include column(6);
					@include push(5);
					padding-top: 0;
				}
			}
		}
	}

}

@media screen and (min-width: $bp-xl-2) {
	.intro { padding: $desktop-buffer 0; }

	blockquote {
		&.basic {
			margin: 0 auto;
			width: 100%;
		}
	}
}
