<section class="arrow-list large">
	<div class="container">
		{% if block.sectionHeadline|length %}
			<h2 class="caps reveal">{{ block.sectionHeadline }}</h2>
		{% endif %}

		{% for row in block.listItems %}
			<div class="block reveal">
				<span class="icon-circle-arrow water"></span>

				<div class="copy">
					<h3 class="subhead water">{{ row.subhead|nl2br }}</h3>
					<div class="support-copy">
						{{ row.supportCopy }}

						{% if row.buttonText|length %}
							<a href="{{ row.buttonUrl }}" class="btn alt">{{ row.buttonText }} <span class="icon-{{ row.buttonType }}"></span></a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
