<section class="logo-soup">
	<div class="container">
		{% if block.sectionHeader|length %}
			<h2 class="head gray reveal">{{ block.sectionHeader }}</h2>
		{% endif %}

		{% for row in block.logos %}
			<div class="logo reveal">
				{% if row.logoLinkUrl|length %}
					<a href="{{ row.logoLinkUrl }}"{% if row.linkNewWindow == "1" %} target="_blank"{% endif %}>
				{% endif %}

						{% set image = row.logo.first() %}
						<img src="{{ image.url }}" alt="{{ row.logoTitle }}" />

				{% if row.logoLinkUrl|length %}
					</a>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</section>
