<section class="single-insight-callout">
	<div class="container">
		{% if block.sectionHeader|length %}
			<h2 class="caps reveal">{{ block.sectionHeader }}</h2>
		{% endif %}

		{% for entry in block.insight %}
			{% set cat = entry.category.first() %}
			{% set thumb = entry.thumbnailImage.first() %}
			{% if thumb %}
				<img src="/_ui/img/global/dummy.gif" data-original="{{ thumb.url() }}" alt="{{ thumb.title() }}" class="lazy" />
			{% else %}
				{% if cat == "News" %}
					<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/insights-news.png" alt="" class="lazy" />
				{% elseif cat == "Insights" %}
					<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/insights-insights.png" alt="" class="lazy" />
				{% elseif cat == "Customer Story" %}
					<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/insights-customer-stories.png" alt="" class="lazy" />
				{% else %}
					<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/fpo.jpg" alt="" class="lazy" />
				{% endif %}
			{% endif %}

			<div class="copy reveal">
				<h3 class="head water">{{ entry.title }}</h3>
				<a href="/insights/{{ entry.slug }}" class="btn">Read More <span class="icon-arrow-right"></span></a>
			</div>
		{% endfor %}
	</div>
</section>
