<section class="three-insights-callout">
	<div class="container">
		{% if block.sectionHeader|length %}
			<h2 class="caps reveal">{{ block.sectionHeader }}</h2>
		{% endif %}
	</div>

	<ul class="grid container">
		{% for entry in block.insight %}
			<li class="grid-item">
				{% set cat = entry.category.first() %}
				{% set single = entry.singleCalloutImage.first() %}
				{% set thumb = entry.thumbnailImage.first() %}

				<a href="/insights/{{ entry.slug }}">
					{% if single %}
						<img src="/_ui/img/global/dummy.gif" data-original="{{ single.url() }}" alt="{{ single.title() }}" class="lazy" />
					{% elseif thumb %}
						<img src="/_ui/img/global/dummy.gif" data-original="{{ thumb.url() }}" alt="{{ thumb.title() }}" class="lazy" />
					{% else %}
						{% if cat == "News" %}
							<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/insights-news.png" alt="" class="lazy" />
						{% elseif cat == "Insights" %}
							<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/insights-insights.png" alt="" class="lazy" />
						{% elseif cat == "Customer Story" %}
							<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/insights-customer-stories.png" alt="" class="lazy" />
						{% else %}
							<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/fpo.jpg" alt="" class="lazy" />
						{% endif %}
					{% endif %}

					<h3 class="subhead water">{{ entry.title }}</h3>
					{% if cat %}
						<p class="med gray">{{ cat }}</p>
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>

	<div class="view-all">
		<a href="{{ block.buttonUrl }}" class="btn">{{ block.buttonText }} <span class="icon-arrow-right"></span></a>
	</div>
</section>
