<section class="arrow-list two-column sequence" id="seq-{{ loop.index }}">
	<div class="container">
		{% if block.sectionHeadline|length %}
			<h2 class="caps reveal">{{ block.sectionHeadline }}</h2>
		{% endif %}

		{% for row in block.listItems %}
			<div class="block seq">
				<span class="icon-{{ row.iconType }} water"></span>

				<div class="copy">
					<h3 class="subhead water">{{ row.subhead|nl2br }}</h3>
					{{ row.supportCopy }}

					{% if row.buttonText|length %}
						<a href="{{ row.buttonUrl }}" class="btn alt">{{ row.buttonText }} <span class="icon-{{ row.buttonType }}"></span></a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
