<section class="two-column-icon-with-text sequence" id="seq-{{ loop.index }}">
	<div class="container">
		{% for row in block.blocks %}
			<div class="block seq">
				<div class="img">
					{% set image = row.image.first() %}
					<img src="{{ image.url }}" alt="{{ image.title }}" />
				</div>

				<div class="copy">
					{{ row.copy }}

					{% if row.buttonText|length %}
						<a href="{{ row.buttonUrl }}" class="btn alt">{{ row.buttonText }} <span class="icon-{{ row.buttonType }}"></span></a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
