{% for block in entry.coreModules %}
	{% switch block.type %}

		{% case 'introduction'  %}
			{% include '/components/_introduction.html' %}

		{% case 'bodyCopy' %}
			{% include '/components/_body-copy.html' %}

		{% case 'twoThirdsWithGutter' %}
			{% include '/components/_two-thirds-with-gutter.html' %}

		{% case 'largeCallToAction' %}
			{% include '/components/_large-cta.html' %}

		{% case 'doubleCallToAction' %}
			{% include '/components/_double-cta.html' %}

		{% case 'textWithImageCarousel' %}
			{% include '/components/_text-with-image-carousel.html' %}

		{% case 'imageBlockquote' %}
			{% include '/components/_image-blockquote.html' %}

		{% case 'basicBlockquote'%}
			{% include '/components/_basic-blockquote.html' %}

		{% case 'fullWidthImage'  %}
			{% include '/components/_full-width-image.html' %}

		{% case 'twoColumnArrowList'  %}
			{% include '/components/_two-column-arrow-list.html' %}

		{% case 'largeArrowList'  %}
			{% include '/components/_large-arrow-list.html' %}

		{% case 'twoColumnIconWithText'  %}
			{% include '/components/_two-column-icon-with-text.html' %}

		{% case 'logoSoup'  %}
			{% include '/components/_logo-soup.html' %}

		{% case 'peopleCarousel'  %}
			{% include '/components/_people-carousel.html' %}

		{% case 'locationMap'  %}
			{% include '/components/_location-map.html' %}

		{% case 'video'  %}
			{% include '/components/_video.html' %}

	{% endswitch %}
{% endfor %}
