{% for block in entry.coreModules %}
	{% switch block.type %}

		{% case 'introduction'  %}
			{% include '/components/_introduction.html' %}

		{% case 'bodyCopy' %}
			<section class="body-copy">
				<div class="reveal">
					{{ block.bodyCopy }}
				</div>
			</section>

		{% case 'largeCallToAction' %}
			{% include '/components/_large-cta.html' %}

		{% case 'doubleCallToAction' %}
			{% include '/components/_double-cta.html' %}

		{% case 'imageBlockquote' %}
			{% include '/components/_image-blockquote.html' %}

	{% endswitch %}
{% endfor %}
