{% for block in entry.coreModules %}
	{% switch block.type %}

		{% case 'introduction'  %}
			{% include '/components/_introduction.html' %}

		{% case 'bodyCopy' %}
			{% include '/components/_body-copy.html' %}

		{% case 'largeCallToAction' %}
			{% include '/components/_large-cta.html' %}

		{% case 'doubleCallToAction' %}
			{% include '/components/_double-cta.html' %}

		{% case 'imageBlockquote' %}
			{% include '/components/_image-blockquote.html' %}

		{% case 'basicBlockquote'%}
			{% include '/components/_basic-blockquote.html' %}

		{% case 'fullWidthImage'  %}
			{% include '/components/_full-width-image.html' %}

		{% case 'twoColumnArrowList'  %}
			{% include '/components/_two-column-arrow-list.html' %}

	{% endswitch %}
{% endfor %}
