/* ==========================================================================
   IE.CSS
   ========================================================================== */

/* IE11 */
header #logo { position: relative; }
header #logo svg {
	left: 0;
	position: absolute;
	top: 0;
	height: 61px;
}

#content { display: block; }

/* IE10 */
a img { border: 0; }

/* IE9 */
.locations.cta .reveal {
	position: relative;
	z-index: 100;
}
