{% extends "_layout" %}

{% block content %}
	<div class="title-block reveal">
		<p class="med gray">
			{% if entry.hidePostDate == 0 %}
				<time>{{ entry.postDate | date("M d, Y") }}</time> /
			{% endif %}

			{% set cat = entry.category.first() %}
			{{ cat }}
		</p>
		<h1 class="head water">{{ entry.title }}</h1>
		{% if entry.authoredBy|length %}
			<p class="author med water">By
				{% for author in entry.authoredBy %}
					<a href="/people/{{ author.slug }}">{{ author.title }}</a>{% if loop.length > 1 and not loop.last  %}, {% endif %}
				{% endfor %}
			</p>
		{% endif %}
	</div>

	<aside class="share">
		<!-- Facebook -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=242047052509804";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>

		<!-- Twitter -->
		<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

		<!-- LinkedIn -->
		<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
		<script type="IN/Share"></script>
	</aside>




	{% set hero = entry.heroImage.first() %}
	{% if hero %}
		<div class="insight-hero">
			<img src="{{ hero.url() }}" alt="{{ hero.title() }}" class="reveal" />
		</div>
	{% endif %}

	{% include '/components/core-modules.html' %}
{% endblock %}
