{% if entry is not defined %}
    {% set entry = craft.entries.section('insights').first() %}
{% endif %}

{% extends "_layout" %}
{% set title = "Bridge Insights" %}

{% block content %}
	<div id="insights-filter">
		<div class="container">
			<a href="#" id="close-filter"><span class="icon-arrow-left"></span> Back</a>
			<div class="left">
				<h2 class="subhead">Categories</h2>
				<ul class="filter-button-group">
					{% set entryIds = craft.entries.section('insightsArticles').ids() %}
					{% set categories = craft.categories.relatedTo({ sourceElement: entryIds }).groupId(1).find() %}
					<li><a href="#" id="filter-all" data-filter="*">All</a></li>
					{% for category in categories %}
						<li><a href="#" id="filter-{{ category.slug }}" data-filter=".{{ category.slug }}">{{ category.title }}</a></li>
					{% endfor %}﻿
				</ul>
			</div>

			<div class="right">
				<h2 class="subhead">Tags</h2>
				<ul class="filter-button-group">
					{% for tag in craft.tags.group('insightsTags') %}
					    <li><a href="#" id="filter-{{ tag.slug }}" data-filter=".{{ tag.slug }}">{{ tag.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="insights-title container">
		<h1 class="head water">Bridge Insights</h1>

		<div class="filter-select subhead">
			Filter by <a href="#header" id="filter-select" class="smooth water">All</a>
		</div>
	</div>

	<ul class="grid container">
		{% for entry in craft.entries.section('insightsArticles').limit(null) %}
			{% set cat = entry.category.first() %}

			<li class="grid-item {% if cat %} {{ cat.slug }}{% endif %}{% if entry.tags | length %}{% for tag in entry.tags %} {{ tag.slug }}{% endfor %}{% endif %}">
				<a href="/insights/{{ entry.slug }}">
					{% set thumb = entry.thumbnailImage.first() %}
					{% if thumb %}
						<img src="/_ui/img/global/dummy.gif" data-original="{{ thumb.url() }}" alt="{{ thumb.title() }}" class="lazy" />
					{% else %}
						{% if cat == "News" %}
							<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/insights-news.png" alt="" class="lazy" />
						{% elseif cat == "Insights" %}
							<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/insights-insights.png" alt="" class="lazy" />
						{% elseif cat == "Customer Story" %}
							<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/insights-customer-stories.png" alt="" class="lazy" />
						{% else %}
							<img src="/_ui/img/global/dummy.gif" data-original="/_ui/img/insights/fpo.jpg" alt="" class="lazy" />
						{% endif %}
					{% endif %}

					<h2 class="subhead water">{{ entry.title }}</h2>
					{% if cat %}
						<p class="med gray">{{ cat }}</p>
					{% endif %}
				</a>
			</li>
		{% endfor %}

	</ul>
{% endblock %}
