{% if entry is not defined %}
    {% set entry = craft.entries.section('insights').first() %}
{% endif %}

{% extends "_layout" %}
{% set title = "Bridge Insights" %}

{% block content %}
	<h1>Articles</h1>
	<ul class="grid">

		{% for entry in craft.entries.section('insightsArticles').find() %}
			{% set cat = entry.category.first() %}

			<li class="grid-item {% if cat %} {{ cat.slug }}{% endif %}{% if entry.tags | length %}{% for tag in entry.tags %} {{ tag.slug }}{% endfor %}{% endif %}">
				<a href="/insights/{{ entry.slug }}">
					{% set hero = entry.heroImage.first() %}
					{% if hero %}
						<img src="{{ hero.url() }}" alt="{{ hero.title() }}" />
					{% else %}
						<img src="" alt="" />
					{% endif %}

					<h2>{{ entry.title }}</h2>
					{% if cat %}
						<p>{{ cat }}</p>
					{% endif %}
				</a>
			</li>
		{% endfor %}

	</ul>

	<h2>Categories</h2>
	<ul class="filter-button-group">
	{% set entryIds = craft.entries.section('insightsArticles').ids() %}
	{% set categories = craft.categories.relatedTo({ sourceElement: entryIds }).groupId(1).find() %}
		<li><a href="#" data-filter="*">All</a></li>
		{% for category in categories %}
			<li><a href="#" data-filter=".{{ category.slug }}">{{ category.title }}</a></li>
		{% endfor %}﻿
	</ul>

	<h2>Tags</h2>
	<ul class="filter-button-group">
		{% for tag in craft.tags.group('insightsTags') %}
		    <li><a href="#" data-filter=".{{ tag.slug }}">{{ tag.title }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
