<!DOCTYPE html>
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html dir="ltr" lang="en-US" class="no-js ie9 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html dir="ltr" lang="en-US" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} | {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% if entry.metaDescription != '' %}{{ entry.metaDescription }}{% else %}{{ global.metaDescription }}{% endif %}"/>

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/_ui/img/favicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/_ui/img/favicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/_ui/img/favicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_ui/img/favicons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/_ui/img/favicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/_ui/img/favicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/_ui/img/favicons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/_ui/img/favicons/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/_ui/img/favicons/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/_ui/img/favicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/_ui/img/favicons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/_ui/img/favicons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/_ui/img/favicons/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="Bridge Partners Consulting"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="/_ui/img/favicons/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="/_ui/img/favicons/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="/_ui/img/favicons/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="/_ui/img/favicons/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="/_ui/img/favicons/mstile-310x310.png" />

	<meta property="og:title" content="Bridge Partners Consulting"/>
	<!-- FILL IN -->
	<meta property="og:description" content=""/>
	<meta property="og:url" content="http://bridgepartnersconsulting.com"/>
	<meta property="og:site_name" content="Bridge Partners Consulting"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="http://eathomegrown.com/_ui/img/global/bridge-share.png"/>

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@_BridgePartners">
	<meta name="twitter:title" content="Bridge Partners Consulting">
	<!-- FILL IN -->
	<meta name="twitter:description" content="">
	<meta name="twitter:image:src" content="http://bridgepartnersconsulting.com/_ui/img/global/homegrown-share.png">
	<meta name="twitter:domain" content="bridgepartnersconsulting.com">

	{# Test to see if we're in dev mode... #}
	{% if craft.config.devMode %}
		{# If so, provide concatonated, header CSS/JS files #}
		<link rel="stylesheet" href="/_ui/compiled/main.css" type="text/css" media="all">
		<script src="/_ui/compiled/header-scripts.js"></script>
	{% else %}
		{# If not, provide concatonated, minified/uglified header CSS/JS files #}
		<link rel="stylesheet" href="/_ui/dist/main.min.css" type="text/css" media="all">
		<script src="/_ui/dist/header-scripts.min.js"></script>
	{% endif %}
</head>

<body class="">
	<div id="container">
		<header>
			<h1>Bridge Partners Consulting</h1>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

	</div><!-- /#container -->

	<footer>
		<small>&copy; 2016 Bridge Partners</small>
	</footer>

	{# Test to see if we're in dev mode... #}
	{% if craft.config.devMode %}
		{# If so, provide concatonated, header CSS/JS files #}
		<script src="/_ui/compiled/footer-scripts.js"></script>
	{% else %}
		{# If not, provide concatonated, minified/uglified header CSS/JS files #}
		<script src="/_ui/dist/footer-scripts.min.js"></script>
	{% endif %}
</body>
</html>
