<!DOCTYPE html>
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html dir="ltr" lang="en-US" class="no-js ie9 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html dir="ltr" lang="en-US" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} | {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% if entry.metaDescription != '' %}{{ entry.metaDescription }}{% else %}{{ global.metaDescription }}{% endif %}"/>

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/_ui/img/favicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/_ui/img/favicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/_ui/img/favicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_ui/img/favicons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/_ui/img/favicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/_ui/img/favicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/_ui/img/favicons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/_ui/img/favicons/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/_ui/img/favicons/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/_ui/img/favicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/_ui/img/favicons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/_ui/img/favicons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/_ui/img/favicons/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="Bridge Partners Consulting"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="/_ui/img/favicons/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="/_ui/img/favicons/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="/_ui/img/favicons/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="/_ui/img/favicons/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="/_ui/img/favicons/mstile-310x310.png" />

	<meta property="og:title" content="Bridge Partners Consulting"/>
	<!-- FILL IN -->
	<meta property="og:description" content=""/>
	<meta property="og:url" content="http://bridgepartnersconsulting.com"/>
	<meta property="og:site_name" content="Bridge Partners Consulting"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="http://eathomegrown.com/_ui/img/global/bridge-share.png"/>

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@_BridgePartners">
	<meta name="twitter:title" content="Bridge Partners Consulting">
	<!-- FILL IN -->
	<meta name="twitter:description" content="">
	<meta name="twitter:image:src" content="http://bridgepartnersconsulting.com/_ui/img/global/homegrown-share.png">
	<meta name="twitter:domain" content="bridgepartnersconsulting.com">

	{# Test to see if we're in dev mode... #}
	{% if craft.config.devMode %}
		{# If so, provide concatonated, header CSS/JS files #}
		<link rel="stylesheet" href="/_ui/compiled/main.css" type="text/css" media="all">
		<script src="/_ui/compiled/header-scripts.js"></script>
	{% else %}
		{# If not, provide concatonated, minified/uglified header CSS/JS files #}
		<link rel="stylesheet" href="/_ui/dist/main.min.css" type="text/css" media="all">
		<script src="/_ui/dist/header-scripts.min.js"></script>
	{% endif %}

	<script src="https://use.typekit.net/auh0vpb.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body class="{{ craft.request.getSegment(1) }} {{ craft.request.getSegment(2) }}">
	<div id="container">
		<header>
			<a href="/" id="logo">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 79.3 41.4" enable-background="new 0 0 79.3 41.4" xml:space="preserve" aria-label="Bridge Partners Consulting">
					<title>Bridge Partners Consulting</title>
					 <g>
						 <path class="big-b" d="M5.5,19c0.5-3.7,3.2-6.2,6.3-6.2c3.1,0,5.7,2.4,6.2,6.2h5.4C22.9,12.1,18,8.3,13,8.3c-3.6,0-5.8,1.9-7.6,4.3V0H0v19H5.5z"/>
						 <path class="big-p" d="M5.5,22.4c0.5,3.7,3.2,6.2,6.3,6.2c3.1,0,5.7-2.4,6.2-6.2h5.4C22.9,29.3,18,33.1,13,33.1c-3.6,0-5.8-1.9-7.6-4.3v12.6H0v-19H5.5z"/>
						 <g>
							 <path class="letter" d="M29.9,17.4v1.3h-1V9.1h1v4.2c0.5-0.8,1.3-1.5,2.6-1.5c1.6,0,3.2,1.3,3.2,3.6v0c0,2.2-1.6,3.6-3.2,3.6C31.2,18.9,30.4,18.2,29.9,17.4z M34.7,15.3L34.7,15.3c0-1.6-1.1-2.7-2.4-2.7c-1.2,0-2.4,1.1-2.4,2.6v0c0,1.6,1.2,2.7,2.4,2.7C33.6,18,34.7,17,34.7,15.3z"/>
							 <path class="letter" d="M37.2,11.9h1v1.8c0.5-1.1,1.5-2,2.7-1.9v1.1h-0.1c-1.5,0-2.7,1.1-2.7,3.1v2.7h-1V11.9z"/>
							 <path class="letter" d="M42.4,9.3h1.1v1.1h-1.1V9.3z M42.5,11.9h1v6.9h-1V11.9z"/>
							 <path class="letter" d="M45,15.3L45,15.3c0-2.3,1.6-3.6,3.2-3.6c1.2,0,2,0.7,2.6,1.5V9.1h1v9.7h-1v-1.4c-0.5,0.8-1.3,1.5-2.6,1.5C46.6,18.9,45,17.6,45,15.3z M50.8,15.3L50.8,15.3c0-1.6-1.2-2.7-2.4-2.7c-1.3,0-2.4,1-2.4,2.6v0c0,1.6,1.1,2.7,2.4,2.7C49.6,18,50.8,16.9,50.8,15.3z"/>
							 <path class="letter" d="M53.6,20l0.5-0.8c0.8,0.6,1.6,0.9,2.6,0.9c1.5,0,2.4-0.8,2.4-2.4v-0.8c-0.6,0.8-1.4,1.4-2.6,1.4c-1.6,0-3.1-1.2-3.1-3.2v0c0-2,1.6-3.2,3.1-3.2c1.3,0,2.1,0.6,2.6,1.4v-1.2h1v5.7c0,1.1-0.3,1.9-0.9,2.4c-0.6,0.6-1.5,0.9-2.5,0.9C55.6,20.9,54.5,20.6,53.6,20z M59.1,15L59.1,15c0-1.4-1.2-2.3-2.5-2.3c-1.3,0-2.3,0.9-2.3,2.3v0c0,1.4,1.1,2.3,2.3,2.3C57.9,17.3,59.1,16.4,59.1,15z"/>
							 <path class="letter" d="M65,18c0.9,0,1.6-0.4,2.1-1l0.6,0.6c-0.7,0.8-1.5,1.3-2.8,1.3c-1.8,0-3.3-1.4-3.3-3.6c0-2,1.4-3.6,3.2-3.6c2,0,3.1,1.6,3.1,3.6c0,0.1,0,0.2,0,0.4h-5.3C62.8,17.2,63.8,18,65,18z M66.9,14.9c-0.1-1.2-0.8-2.3-2.1-2.3c-1.2,0-2,1-2.2,2.3H66.9z"/>
							 <path class="letter" d="M28.9,22.7h1v1.4c0.5-0.8,1.3-1.5,2.6-1.5c1.6,0,3.2,1.3,3.2,3.6v0c0,2.2-1.6,3.6-3.2,3.6c-1.2,0-2-0.7-2.6-1.5v3.4h-1V22.7z M34.7,26.2L34.7,26.2c0-1.6-1.1-2.7-2.4-2.7c-1.2,0-2.4,1.1-2.4,2.6v0c0,1.6,1.2,2.7,2.4,2.7C33.6,28.8,34.7,27.9,34.7,26.2z"/>
							 <path class="letter" d="M36.9,27.6L36.9,27.6c0-1.5,1.2-2.3,2.9-2.3c0.9,0,1.4,0.1,2,0.3v-0.2c0-1.2-0.7-1.9-2-1.9c-0.8,0-1.4,0.2-2,0.5l-0.3-0.8c0.7-0.3,1.4-0.6,2.4-0.6c0.9,0,1.7,0.3,2.2,0.8c0.5,0.5,0.7,1.1,0.7,2v4.2h-1v-1c-0.5,0.6-1.2,1.2-2.4,1.2C38.1,29.8,36.9,29,36.9,27.6z M41.8,27.1v-0.6c-0.5-0.1-1.1-0.3-2-0.3c-1.2,0-2,0.6-2,1.4v0c0,0.9,0.8,1.4,1.7,1.4C40.8,28.9,41.8,28.2,41.8,27.1z"/>
							 <path class="letter" d="M44.4,22.7h1v1.8c0.5-1.1,1.5-2,2.7-1.9v1.1h-0.1c-1.5,0-2.7,1.1-2.7,3.1v2.7h-1V22.7z"/>
							 <path class="letter" d="M49.9,27.8v-4.1h-0.9v-0.9h0.9v-2.1h1v2.1H53v0.9h-2.1v4c0,0.8,0.5,1.1,1.1,1.1c0.3,0,0.6-0.1,1-0.2v0.9c-0.3,0.2-0.7,0.3-1.2,0.3C50.7,29.7,49.9,29.2,49.9,27.8z"/>
							 <path class="letter" d="M54.5,22.7h1v1.2c0.4-0.7,1.1-1.3,2.3-1.3c1.6,0,2.6,1.1,2.6,2.7v4.3h-1v-4c0-1.3-0.7-2.1-1.8-2.1c-1.2,0-2,0.9-2,2.1v3.9h-1V22.7z"/>
							 <path class="letter" d="M65.2,28.9c0.9,0,1.6-0.4,2.1-1l0.6,0.6c-0.7,0.8-1.5,1.3-2.8,1.3c-1.8,0-3.3-1.4-3.3-3.6c0-2,1.4-3.6,3.2-3.6c2,0,3.1,1.6,3.1,3.6c0,0.1,0,0.2,0,0.4h-5.3C63,28,64,28.9,65.2,28.9z M67.2,25.8c-0.1-1.2-0.8-2.3-2.1-2.3c-1.2,0-2,1-2.2,2.3H67.2z"/>
							 <path class="letter" d="M69.8,22.7h1v1.8c0.5-1.1,1.5-2,2.7-1.9v1.1h-0.1c-1.5,0-2.7,1.1-2.7,3.1v2.7h-1V22.7z"/>
							 <path class="letter" d="M74.2,28.7l0.5-0.7c0.7,0.6,1.5,0.9,2.3,0.9c0.8,0,1.4-0.4,1.4-1.1v0c0-0.7-0.8-1-1.7-1.2c-1-0.3-2.2-0.7-2.2-1.9v0c0-1.2,1-2,2.3-2c0.8,0,1.7,0.3,2.4,0.8l-0.5,0.8c-0.6-0.4-1.3-0.7-2-0.7c-0.8,0-1.3,0.4-1.3,1v0c0,0.7,0.8,0.9,1.7,1.2c1,0.3,2.1,0.7,2.1,2v0c0,1.3-1,2.1-2.4,2.1C76,29.7,74.9,29.4,74.2,28.7z"/>
						 </g>
					 </g>
				</svg>
			</a>

			<nav id="primary" class="menu">
				<ul>
					<li><a href="/practices">Practices</a></li>
					<li><a href="/insights">Insights</a></li>
					<li><a href="/people">People</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/careers">Careers</a></li>
					<li>
						<a href="#" class="search-btn">Search</a>
						<ul id="search-form">
							<li>
								<form action="{{ url('search/results') }}">
								    <input type="search" name="q" id="q" placeholder="Search"><br>
								    <button class="btn alt">Submit <span class="icon-arrow-right"></span></button>
								</form>
							</li>
						</ul>
					</li>

					<li>
						<a href="#" class="newsletter-btn">Newsletter</a>
						<!-- Mail Chimp -->
						<ul id="mc_embed_signup">
						    <form action="//bridgepartnersconsulting.us10.list-manage.com/subscribe/post?u=cd1ac20304ce12be88f1d230f&amp;id=c8521fe1be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						        <div id="mc_embed_signup_scroll">
						        <!-- <h2>Stay in the loop.</h2>
						        <p>Receive email updates when we publish new insights.</p> -->
						    <div class="mc-field-group">
						        <label for="mce-EMAIL" class="offscreen">Email Address  <span class="asterisk">*</span>
						    </label>
						        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
						    </div>
						    <div class="mc-field-group">
						        <label for="mce-FNAME" class="offscreen">First Name  <span class="asterisk">*</span>
						    </label>
						        <input type="text" value="" name="FNAME" class="required" id="mce-FNAME" placeholder="First Name">
						    </div>
						    <div class="mc-field-group">
						        <label for="mce-MMERGE3" class="offscreen">Last Name  <span class="asterisk">*</span>
						    </label>
						        <input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3" placeholder="Last Name">
						    </div>
						        <div id="mce-responses" class="clear">
						            <div class="response" id="mce-error-response" style="display:none"></div>
						            <div class="response" id="mce-success-response" style="display:none"></div>
						        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						        <div style="position: absolute; left: -5000px;"><input type="text" name="b_cd1ac20304ce12be88f1d230f_c8521fe1be" tabindex="-1" value=""></div>
						        <div class="clear">
									<button name="subscribe" id="mc-embedded-subscribe" class="btn alt button">Subscribe <span class="icon-arrow-right"></span></button></div>
						        </div>
						    </form>
						</ul>
					</li>
				</ul>
			</nav>

			<a href="#insights-signup" class="arrow-link insights-trigger">Sign Up for Our Insights></span></a>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

	</div><!-- /#container -->

	<footer>
		<p class="med block-link"><a href="mailto:info@bridgepartnersconsulting.com">info@BridgePartnersConsulting.com</a></p>
		<p class="med block-link"><a href="#insights-signup">Sign Up for Our Insights <span class="icon-arrow-right"></span></a></p>

		<nav id="social">
			<ul>
				<li><a href="https://www.linkedin.com/company/bridge-partners-consulting" target="_blank"><span class="icon-linkedin"></span><span class="offscreen">LinkedIn</span></a></li>
				<li><a href="https://twitter.com/_BridgePartners" target="_blank"><span class="icon-twitter"></span><span class="offscreen">Twitter</span></a></li>
				<li><a href="https://www.glassdoor.com/Overview/Working-at-Bridge-Partners-EI_IE441977.11,26.htm" target="_blank"><span class="icon-glassdoor"></span><span class="offscreen">Glassdoor</span></a></li>
			</ul>
		</nav>

		<p class="med block-link">
			<img src="/_ui/img/global/bp-footer.svg" alt="" />
			&copy;{{ "now"|date("Y") }} Bridge Partners. All Rights Reserved
		</p>
	</footer>

	{# Test to see if we're in dev mode... #}
	{% if craft.config.devMode %}
		{# If so, provide concatonated, header CSS/JS files #}
		<script src="/_ui/compiled/footer-scripts.js"></script>
	{% else %}
		{# If not, provide concatonated, minified/uglified header CSS/JS files #}
		<script src="/_ui/dist/footer-scripts.min.js"></script>
	{% endif %}
</body>
</html>
