{% if entry is not defined %}
    {% set entry = craft.entries.section('styleGuide').first() %}
{% endif %}
{% extends "_layout" %}

{% block content %}
	{% set image = entry.image.first() %}
	<style>
		.hero { background-image: url({{ image.getUrl('fullWidthMobile') }}); }

		@media screen and (min-width: 800px) {
			.hero { background-image: url({{ image.url }}); }
		}
	</style>

	<section class="hero">
		<div class="associated-content">

			<div class="copy container">
				<h2>{{ entry.heroHeadline }}</h2>
				<a href="{{ entry.heroLinkUrl }}" class="btn alt">{{ entry.heroLinkTitle }}</a>
			</div>
		</div>
	</section>

	{% include '/components/core-modules.html' %}

	<section>
		<h2>misc</h2>

		<a href="#" class="btn">Button <span class="icon-arrow-right"></span></a>
		<a href="#" class="btn alt">Alt Button <span class="icon-download"></span></a>
	</section>
{% endblock %}
