{% if entry is not defined %}
    {% set entry = craft.entries.section('styleGuide').first() %}
{% endif %}
{% extends "_layout" %}

{% block content %}
	{% for block in entry.hero %}
		{% set image = block.image.first() %}
		<style>
			.hero { background-image: url({{ image.getUrl('fullWidthMobile') }}); }

			@media screen and (min-width: 800px) {
				.hero { background-image: url({{ image.url }}); }
			}
		</style>

		<section class="hero">
			<div class="associated-content reveal">

				<div class="copy container">
					<h2 class="head">{{ block.heroHeadline|nl2br }}</h2>
					<a href="{{ block.heroLinkUrl }}" class="btn alt">{{ block.heroLinkTitle }} <span class="icon-arrow-right"></span></a>
				</div>
			</div>
		</section>
	{% endfor %}

	{% include '/components/core-modules.html' %}

	<!-- <section>
		<h2>misc</h2>

		<a href="#" class="btn">Button <span class="icon-arrow-right"></span></a>
		<a href="#" class="btn alt">Alt Button <span class="icon-download"></span></a>
	</section> -->
{% endblock %}
