{% if entry is not defined %}
    {% set entry = craft.entries.section('styleGuide').first() %}
{% endif %}
{% extends "_layout" %}

{% block content %}
	<h1 class="title-ribbon style-guide">Style Guide</h1>

	<section class="">
		<nav class="subnav">
			subnav
		</nav>

		<div class="">
			<h2>{{ entry.title }}</h2>
		</div>
	</section>

	{% if entry.type == 'commonElements' %}
		<section class="">
			{{ entry.body }}

			<p class="head">Header</p>
			<p class="subhead">Subhead</p>
			<p class="large-bc">Large Body Copy</p>
			<p class="large-bc-med">Large Body Copy Medium</p>
			<p class="">Standard Body Copy</p>
			<p class="med">Standard Body Copy Medium</p>
			<p class="caps">All Caps</p>
		</section>
	{% endif %}

	{% if entry.type == 'coreModulesOnly' %}
		{% include '/components/core-modules.html' %}
	{% endif %}
{% endblock %}
